@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=DM+Sans:wght@100..1000&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #181c14;
  --color-secondary: #34e8c5;
  --color-tertiary: #1f3133;

  --font-heading: "Space Grotesk", sans-serif;
  --font-body: "DM Sans", sans-serif;
}
